.overlay{
    background-color: rgba(0, 0, 134, 0.295);
    inset: 0;
}
.banner{
    bottom:-70px;
    width: 80%;
    z-index:5;
}
.btn{
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: white;
}
.btn:hover{
    background: #0a2540e1;
    /* color: var(--main-color); */
}
.herotxt{
    margin-top: 15%;
}

.icon{
    margin-top: 3.5%;
    margin-right: 6px;
    color: var(--main-gold);
}
.herobtn{
    width: 270px;
}
.herobtn:hover{
    transition: .5s;
    transform: scale(1.05);
    background-color: var(--main-gold);
}