.nav{
    background: var(--main-color);
  box-shadow:10px 10px 6px -4px rgba(10, 10, 10, 0.5);
  position:fixed;
  width: 100%;
  z-index: 1;
 
  
}

.links{
    color: var(--main-white);
    text-decoration: none;
}
.links:hover{
  color: var(--main-gold);
    cursor: pointer;
}
.btn{
    background: var(--main-color);
}
.btn:hover{
    background: #ffffff31;
}